/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  A nice, good-looking form                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form {
    text-align: center;
    margin-top: 60px;
}

.form h2 {
    font-size: 24px;
    font-weight: 600;
}

.form p {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
}

form {
    margin: 0 auto;
    margin-top: 25px;
    width: 400px;
    font-size: 0;
}

input {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    transition: border-color .25s ease-in-out;
}

form input + input {
    margin-top: 15px;
}

input:focus, textarea:focus {
    border: 1px solid #61cafd;
}

textarea{
   margin-bottom: 15px;
   width: 100%;
   min-width: 100%;
   height: 160px;
   padding: 15px;
   font-size: 16px;
   font-weight: 400;
   background-color: #fff;
   border: 1px solid #bbb;
   border-radius: 4px;
   resize: none;
   overflow: auto;
   transition: border-color .25s ease-in-out;
}

input[type="text"]:valid, input[type="email"]:valid {
    background: #fff url(../img/valid.png) no-repeat 97% center;
    background-size: 13px 13px;
}

textarea:valid {
    background: #fff url(../img/valid.png) no-repeat 97% center;
    background-size: 13px 13px;
}

.buttons {
    text-align: right;
}

input[type="reset"] {
    width: 110px;
    height: 46px;
    text-align: center;
    background-color: #fff;
    border: 1px solid  #ff7b00;
    font-weight: 600;
    letter-spacing: .2px;
    color: #ff7b00;
    cursor: pointer;
    margin-left: 15px;
}

input[type="reset"]:hover {
    border: 1px solid  #ff9000;
    color:  #ff9000;
}

input[type="button"] {
    width: 110px;
    height: 46px;
    text-align: center;
    background-color:  #ff7b00;
    border: 1px solid  #ff7b00;
    font-weight: 600;
    letter-spacing: .2px;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color:   #ff9000;
}